body {
    background-color: azure;
}

h1 {
    text-align: center;
}


button {
    font-family: monospace; font-family: fantasy;
    font-size: x-large;
}

html {
        cursor: crosshair;
    }

/* body .crosshair {
        cursor: crosshair;
    } */

select#Location {
    width: 200px;
    height: 30px;
    font-size: medium;
    font-family: inherit;
    font-style:   
}

select#What {
    width: 200px;
    height: 30px;
    font-size: medium;
}
button {
    font-size: medium;
    font: 400;
}